.bio-background {
  width: 100%;
  position: relative;
  box-shadow: 14px 4px 12px rgba(0, 0, 0, 0.1);
  background: #333333;
  display: flex;
  align-items: center; }

.bio-box {
  display: flex;
  align-items: center; }

.text {
  padding: 0px 30px;
  width: 50%; }
  .text h2 {
    color: #FFFFFF; }

.profile {
  width: 50%; }
  .profile img {
    width: 100%; }

.history {
  padding-top: 150px; }
  .history p {
    line-height: 2em;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px; }

.cv {
  padding-bottom: 100px;
  display: flex;
  justify-content: center; }
  .cv a {
    color: #333333; }
  .cv h3 {
    margin: 0 auto;
    font-weight: normal; }

.curiosity img {
  width: 100%; }

.skills {
  box-shadow: 14px 4px 12px rgba(0, 0, 0, 0.1);
  background: #2D3C6B;
  position: relative; }

.skills-box {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 50px; }
  .skills-box h2 {
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 24px; }

.skills-image {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 100%; }
