@font-face {
  font-family: "Made Tommy";
  font-weight: bold,black,extrabold,light,medium,regular,thin;
  src: url("./font/made-tommy-black.otf") format("otf"), url("./font/made-tommy-bold.otf") format("otf"), url("./font/made-tommy-extrabold.otf") format("otf"), url("./font/made-tommy-light.otf") format("otf"), url("./font/made-tommy-medium.otf") format("otf"), url("./font/made-tommy-regular.otf") format("otf"), url("./font/made-tommy-thin.otf") format("otf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-weight: lighter; }

body {
  background-color: #FFFFFF;
  color: #333333;
  font-family: 'Made Tommy', sans-serif;
  font-size: 16px; }

strong {
  font-weight: 800; }

h1 {
  font-family: 'Made Tommy', sans-serif;
  font-size: 32px; }

h2 {
  font-family: 'Made Tommy', sans-serif;
  font-size: 24px;
  font-weight: bold; }

p {
  line-height: 1.8; }

.line-h2:after {
  content: "";
  display: block;
  background-color: #FF0081;
  height: 5px;
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center; }

h3 {
  font-family: 'Made Tommy', sans-serif;
  font-size: 18px; }

h4 {
  font-family: 'Made Tommy', sans-serif;
  font-size: 14px; }

.container {
  margin: 0 auto;
  max-width: 1024px; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 20px 50px; }
  .nav img {
    height: 80px; }
  .nav h1 {
    color: #2D3C6B;
    font-family: 'Chivo', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px; }

.menu {
  display: flex;
  justify-content: space-between; }
  .menu li {
    display: block;
    padding: 10px; }
  .menu a {
    text-decoration: none;
    color: #2D3C6B;
    font-size: 16px; }
  .menu a.active {
    text-decoration: underline; }

.bio {
  padding: 50px;
  align-items: center; }
  .bio h1 {
    color: #2D3C6B;
    font-size: 32px;
    margin-bottom: 10px; }
  .bio p {
    color: #2D3C6B;
    font-size: 16px;
    margin-top: 30px; }
  .bio img {
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 14px;
    margin-top: -18px;
    padding-left: 15px;
    animation: slidein;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

@keyframes slidein {
  from {
    margin-left: 18px; }
  to {
    margin-left: -18px; } }

.work {
  padding: 50px 50px; }
  .work h2 {
    margin-bottom: 20px;
    color: #2D3C6B;
    font-size: 24px;
    text-align: center; }

.card-container {
  display: flex;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 50px; }

.card-container.reverse {
  flex-direction: row-reverse; }

.image-container {
  background-color: #E887BA;
  width: 50%;
  display: flex;
  align-items: center; }
  .image-container img {
    width: 100%; }

.explanation-container {
  background-color: #F8F9FF;
  width: 50%;
  padding: 25px; }
  .explanation-container h3 {
    font-size: 18px;
    font-weight: bold; }
  .explanation-container h4 {
    margin-top: 10px;
    display: inline-block;
    padding: 2px 5px;
    border: 1px solid #D9D7DD;
    border-radius: 23px;
    font-size: 12px;
    font-weight: normal;
    margin-right: 5px; }
  .explanation-container p {
    padding-top: 20px;
    line-height: 1.4em; }
  .explanation-container .view-button {
    padding: 10px 12px;
    display: inline-block;
    background-color: #2D3C6B;
    border-radius: 23px;
    margin-top: 30px;
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-weight: normal; }
  .explanation-container .tag {
    width: 100%;
    display: flex; }

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }

.box-container {
  position: relative;
  font-size: 3rem;
  width: 50%; }

.box-container a {
  color: white;
  font-size: 30px;
  font-family: 'Made Tommy', sans-serif;
  text-decoration: none; }
  .box-container a small {
    font-size: 16px; }

.box-container img {
  margin: 0;
  padding: 0;
  display: block;
  border: 0.4rem	solid white;
  width: 100%; }

.box-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ccc;
  opacity: 0;
  text-align: center;
  padding-top: 22.5%;
  transition: 1s ease; }

.box-overlay:hover {
  opacity: 0.9; }

.box-overlay small {
  display: block; }

.process {
  text-align: center;
  width: 100%;
  padding: 50px 50px; }
  .process h2 {
    margin-bottom: 20px;
    color: #2D3C6B;
    font-size: 24px; }
  .process h3 {
    margin-bottom: 15px;
    color: #2D3C6B;
    font-size: 18px; }
  .process p {
    margin-bottom: 20px;
    color: #2D3C6B;
    font-size: 16px; }

.process-image {
  padding: 30px; }

.footer-links {
  display: flex;
  justify-content: flex-start;
  padding: 20px 50px; }
  .footer-links li {
    display: block;
    padding: 10px; }
  .footer-links a:hover img {
    filter: opacity(0.5); }

.copyright {
  display: flex;
  justify-content: center; }

.testimonial-background {
  background-color: #2D3C6B;
  box-shadow: 14px 4px 12px rgba(0, 0, 0, 0.1);
  position: relative; }

.carrousel-container {
  overflow: hidden; }
  .carrousel-container h2 {
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    margin-top: 50px; }
  .carrousel-container input {
    display: none; }
  .carrousel-container #slide1:checked ~ .carrousel-content .testimonial:first-child {
    margin-left: 0%; }
  .carrousel-container #slide2:checked ~ .carrousel-content .testimonial:first-child {
    margin-left: -100%; }
  .carrousel-container #slide1:checked ~ .carousel-indicators label:first-child {
    background-color: #FFFFFF; }
  .carrousel-container #slide2:checked ~ .carousel-indicators label:nth-child(2) {
    background-color: #FFFFFF; }

.carrousel-content {
  display: flex;
  overflow-x: hidden;
  flex-wrap: nowrap; }

.testimonial {
  text-align: center;
  padding: 0px 50px 0px 50px;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  transition: margin 700ms;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 100px; }
  .testimonial p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #FFFFFF; }

.carousel-indicators {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }

.carousel-indicators label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  border-radius: 10px; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
  color: #2D3C6B;
  font-size: 14px;
  background-color: #FFFFFF; }
  .footer a {
    color: #2D3C6B;
    text-decoration: none; }

.contact {
  padding: 10px;
  text-align: center;
  line-height: 20px; }
  .contact h2 {
    padding-bottom: 15px; }

.copyright {
  padding-bottom: 30px;
  padding-top: 20px; }

.mockup {
  width: 100%;
  text-align: center; }
  .mockup img {
    width: 70%;
    margin-top: 10px; }

.goapppet {
  background-color: #E887BA; }

.amo {
  background-color: #DCBDD4; }

.head-off {
  background-color: #F07256; }

.geldje {
  background-color: #96AE8D; }

.kleine {
  background-color: #FDCD65; }

.title-section {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px; }
  .title-section h2 {
    font-weight: 200;
    color: #2D3C6B; }

.overview-top {
  padding: 0px 40px;
  margin-top: 100px;
  display: flex; }

.overview {
  padding: 50px 40px;
  display: flex; }

.h2-liveabove:before {
  content: "";
  display: block;
  background-color: #FF0081;
  height: 5px;
  width: 100px;
  margin: 0 0;
  margin-bottom: 5px; }

.overview-title {
  padding-left: 40px;
  padding-right: 30px;
  width: 30%;
  color: #2D3C6B; }

.overview-content {
  width: 70%; }
  .overview-content p {
    padding-bottom: 20px; }
  .overview-content ul {
    margin-left: 20px;
    line-height: 2em; }
  .overview-content h4 {
    font-size: 22px;
    margin-bottom: 20px; }

.overview-information-card {
  display: flex;
  height: auto;
  margin: 0 0;
  margin-top: 10px;
  padding: 32px;
  box-sizing: border-box;
  border: solid 1px #FFFFFF;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.1); }

.overview-information {
  flex-wrap: wrap;
  width: 50%;
  padding: 10px;
  padding-top: 30px; }
  .overview-information h3 {
    margin-bottom: 10px; }

.overview.solution {
  padding: 100px 40px; }
  .overview.solution .overview-title {
    width: 100%; }
  .overview.solution .overview-content {
    width: 100%;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 30px; }
  .overview.solution p {
    font-size: 20px; }
  .overview.solution .h2-liveabove:before {
    width: 50%; }
  .overview.solution .h2-liveabove {
    font-size: 40px;
    margin-top: 20px; }
  .overview.solution .image-content {
    display: flex;
    justify-content: space-around; }
  .overview.solution img {
    width: 30%; }

.overview-title-solution {
  padding: 120px 40px;
  width: 100%;
  margin-top: 20px; }

.before-product {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .before-product img {
    width: 50%;
    padding-bottom: 20px; }
  .before-product p {
    font-size: 14px; }

.image-content img {
  width: 100%;
  padding-top: 20px; }

.image-content img.personas-image {
  margin-top: 0px;
  padding-top: 20px; }

.image-content img.image-gif {
  width: 50%;
  padding-top: 20px; }

.image-content p {
  text-align: center;
  padding-bottom: 0px;
  padding-top: 20px;
  font-weight: bold; }

.image-content-gif {
  display: flex;
  flex: wrap;
  flex-direction: row; }
  .image-content-gif img {
    width: 100%; }

.image-content-gif-gif {
  width: 50%;
  padding: 15px 30px; }
  .image-content-gif-gif p {
    text-align: center; }

.next-project {
  width: 100%;
  text-align: center;
  position: relative;
  box-shadow: 14px 4px 12px rgba(0, 0, 0, 0.1); }
  .next-project img {
    opacity: 0.15;
    width: 50%;
    filter: blur(4px); }
  .next-project .description {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    align-items: center;
    display: flex; }
  .next-project .description-next {
    width: 100%; }
  .next-project .description-next {
    width: 100%; }
  .next-project h2 {
    color: #FFFFFF;
    text-decoration: underline;
    padding: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }
  .next-project h3, .next-project p {
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }

.quote {
  display: block;
  position: relative;
  padding-left: 1em;
  text-align: center;
  font-size: 24px; }
  .quote:before, .quote:after {
    content: '\201C';
    color: #F07256;
    font-size: 30px;
    padding: 4px;
    line-height: 10px; }
  .quote:after {
    content: '\201D'; }

.aspas-geldje:before, .aspas-geldje:after {
  color: #96AE8D; }

.bio-background {
  width: 100%;
  position: relative;
  box-shadow: 14px 4px 12px rgba(0, 0, 0, 0.1);
  background: #333333;
  display: flex;
  align-items: center; }

.bio-box {
  display: flex;
  align-items: center; }

.text {
  padding: 0px 30px;
  width: 50%; }
  .text h2 {
    color: #FFFFFF; }

.profile {
  width: 50%; }
  .profile img {
    width: 100%; }

.history {
  padding-top: 150px; }
  .history p {
    line-height: 2em;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px; }

.cv {
  padding-bottom: 100px; }
  .cv a {
    color: #333333; }
  .cv h3 {
    width: 50%;
    margin: 0 auto;
    font-weight: normal; }

.curiosity img {
  width: 100%; }

.skills {
  box-shadow: 14px 4px 12px rgba(0, 0, 0, 0.1);
  background: #2D3C6B;
  position: relative; }

.skills-box {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 50px; }
  .skills-box h2 {
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 24px; }

.skills-image {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 100%; }

@media only screen and (max-width: 600px) {
  .container {
    margin: 0 auto;
    width: 100%; }
  .bio {
    padding: 30px 25px; }
  .work {
    padding: 30px 25px; }
  .work-container img {
    width: 100%; }
  .box-overlay {
    opacity: 0.9; }
  .box-container {
    margin-bottom: 1rem;
    width: 100%; }
  .box-container a {
    text-decoration: underline; }
  .title h1 {
    font-size: 24px; }
  .title h2 {
    font-size: 18px; }
  .nav {
    flex-direction: column; }
  .menu {
    padding-top: 10px; }
  .title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
  .menu {
    justify-content: center; }
  .process {
    padding: 30px 25px; }
  .process-image {
    padding: 0px; }
    .process-image img {
      width: 100%; }
  .footer {
    padding: 30px 25px;
    justify-content: center;
    text-align: center; }
  .footer-links {
    justify-content: center; }
  .overview-top {
    flex-direction: column;
    padding: 40px 40px; }
  .overview {
    flex-direction: column;
    padding: 25px 40px; }
  .overview-title {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    width: 100%; }
  .overview-content {
    width: 100%; }
  .overview-information-card {
    width: 100%;
    padding: 15px; }
  .overview-information {
    padding-top: 15px; }
    .overview-information p {
      font-size: 14px; }
      .overview-information p h3 {
        font-size: 16px; }
  .before-product img {
    width: 100%; }
  .image-content img.image-gif {
    width: 100%; }
  .image-content-gif-gif {
    width: 100%;
    margin-left: 0px;
    padding: 15px; }
    .image-content-gif-gif p {
      text-align: center; }
  .description-next h2 {
    color: #FFFFFF;
    text-decoration: underline;
    padding: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 20px; }
  .description-next h3 {
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px; }
  .description-next p {
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px; }
  .next-project img {
    width: 100%; }
  .profile {
    width: 100%; }
  .text {
    width: 100%;
    padding: 30px;
    text-align: center; }
  .history {
    padding-top: 80px; }
    .history p {
      width: 100%;
      padding: 0px 25px; }
  .carrousel-content {
    overflow-x: scroll; }
  .card-container .reverse {
    flex-direction: column; }
  .image-container {
    width: 100%; }
  .explanation-container {
    width: 100%; } }
