$primary-color: #2D3C6B;
$primary-color-light: #FF0081;
$primary-color-dark: #404E5C;
$secondary-color-gray: #D9D7DD;
$goapp-color: #E887BA;
$amo-color:#DCBDD4;
$head-off-color: #F18B73;
$geld-color: #96AE8D;
$kleineeland-color: #FDCD65;
$grey-card-color:#F8F9FF;
$openup: #F8D84C;


$shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.1);
$shadow-2-nextproject:14px 4px 12px rgba(0, 0, 0, 0.1);
$shadow-text: 2px 2px 5px rgba(0, 0, 0, 0.1);

$dark-color: #333333;
$white-color: #FFFFFF;
$dark-gray: #5B5B5B;