$primary-color: #3B8089;
$primary-color-light:#A7E2E3;
$primary-color-dark: #404E5C;
$secondary-color-gray: #D9D7DD;
$goapp-color: #E887BA;
$amo-color:#DCBDD4;
$head-off-color: #F07256;
$geld-color: #96AE8D;
$kleineeland-color: #FDCD65;


$shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.1);
$shadow-2-nextproject:14px 4px 12px rgba(0, 0, 0, 0.1);
$shadow-text: 2px 2px 5px rgba(0, 0, 0, 0.1);

$dark-color: #333333;
$white-color: #FFFFFF;
$dark-gray: #5B5B5B;